# Default ignore settings
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Additional things to ignore
/.idea/caches

# Ignore file that's created when opening a word document
~$*
