<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team2.packpackmonsters">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BattleActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/battle_activity_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ItemsActivity"
            android:label="@string/items_activity_title"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".NameActivity" />
        <activity
            android:name=".PackPackActivity"
            android:label="@string/pack_pack_activity_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".IndividualPackPackActivity"
            android:label="@string/pack_pack_activity_title"
            android:parentActivityName=".PackPackActivity" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/help_activity_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BattleResultActivity"
            android:parentActivityName=".MainActivity" />
    </application>
</manifest>
